//
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
}
.error{
    margin: 50px;
    font-weight: 500;
    h2{
        margin-bottom: 15px;
    }
}
.home-page{
    margin-top: 50px;
}

.container {
    width: 1170px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title-comic {
        margin:50px;
    }
    .next-prev {
        margin-top: 50px;
        a {
            margin: 5px;
        }
    }
    div {
        text-align: center;
        .back-home {
            margin-top: 50px;
        }
        h4 {
            margin: 10px;
        }
    }
}

header {
    ul {
        
        list-style: none;
        li {
            a {
                margin: 15px;
            }
        }
           
    }
  
}

.comics-table{
    margin-top: 50px;
    
    thead{
        tr{
            th{
                padding: 10px;
                border: 1px solid black;
            }
        }
      
    }

    tbody{
        tr{
         
            td{
                padding: 10px;
                border: 1px solid black;
            }

        }
    }
}


.pagination {
    list-style: none;
    display: flex;
    font-size: 20px;
    width: 100%;
    justify-content: center;
    
    li{
        margin: 10px;
    }

    a{
        text-decoration: none;
    }
}

footer{
    margin-top: 50px;
}