* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin-top: 50px;
  font-family: "Roboto", sans-serif;
}

.error {
  margin: 50px;
  font-weight: 500;
}

.error h2 {
  margin-bottom: 15px;
}

.home-page {
  margin-top: 50px;
}

.container {
  width: 1170px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .title-comic {
  margin: 50px;
}

.container .next-prev {
  margin-top: 50px;
}

.container .next-prev a {
  margin: 5px;
}

.container div {
  text-align: center;
}

.container div .back-home {
  margin-top: 50px;
}

.container div h4 {
  margin: 10px;
}

header ul {
  list-style: none;
}

header ul li a {
  margin: 15px;
}

.comics-table {
  margin-top: 50px;
}

.comics-table thead tr th {
  padding: 10px;
  border: 1px solid black;
}

.comics-table tbody tr td {
  padding: 10px;
  border: 1px solid black;
}

.pagination {
  list-style: none;
  display: flex;
  font-size: 20px;
  width: 100%;
  justify-content: center;
}

.pagination li {
  margin: 10px;
}

.pagination a {
  text-decoration: none;
}

footer {
  margin-top: 50px;
}

