* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  text-align: center;
  height: 40px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 50px;
  font-size: 20px;
}

header ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

header a {
  margin-left: 15px;
}

header a:hover {
  text-decoration: none;
  color: black;
}

.active {
  font-weight: bold;
  color: black;
}

.error {
  margin: 50px;
  font-weight: 500;
}

.error h2 {
  margin-bottom: 15px;
}

.home-page {
  margin-top: 50px;
}

.container {
  width: 1170px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .title-comic {
  margin: 50px;
}

.container .next-prev {
  margin-top: 50px;
}

.container .next-prev a {
  margin: 5px;
}

.container div {
  text-align: center;
}

.container div img {
  border-radius: 5px;
  border: 4px solid black;
}

.container div .back-home {
  margin-top: 50px;
}

.container div h4 {
  margin: 10px;
}

header ul {
  list-style: none;
}

.create-edit {
  width: 800px;
  text-align: center;
}

.create-edit label {
  width: 100%;
  text-align: left;
}

.create-edit textarea {
  height: 140px;
}

.comics-table {
  margin-top: 50px;
}

.comics-table thead tr th {
  padding: 10px;
}

.comics-table tbody tr td {
  padding: 10px;
}

.pagination {
  list-style: none;
  display: flex;
  font-size: 20px;
  width: 100%;
  justify-content: center;
}

.pagination li {
  margin: 10px;
}

.pagination a {
  text-decoration: none;
}

footer {
  text-align: center;
  margin-top: 50px;
}

